body
{
	margin: 0px;
	min-height: 100vh;
	--header_color: hsla(140, 100%, 50%, 1);
	--footer_color: hsla(163, 100%, 50%, 1);
	--body_color: rgba(240,238,241,255);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--body_color);
}

header
{
	--button_color: hsla(71, 100%, 50%, 1);
	display: flex;
	justify-content: space-between;
	padding: 1em 3em;
	background-color: var(--header_color);
}

header button
{
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--button_color);
	font-size: 1.4rem;
	font-weight: bold;
	font: bold;
	border-radius: 1.5em;
	width: 8em;
}

header button:active
{
	background-color: hsla(71, 69%, 20%, 1);
}

main
{
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	padding: 1em;
	justify-content: center;
}

.card_container
{
	display: flex;
	min-width: 200px;
	flex-direction: column;
	background-color: pink;
	justify-content: space-evenly;
	align-items: center;
}

footer
{
	background-color: var(--footer_color);
	padding: 1em 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	font-size: 1.2rem;
	font-weight: bold;
}

footer img
{
	width: 2em;
}